@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var selection = Umbraco.TypedContent(1068).Children().Where("projectStatus.Contains(\"9\")").Where("Visible").OrderBy("CreateDate desc").Take(5);

}
@if (selection.Any())
{
    <ul>
        @foreach (var item in selection)
        {
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>
        }
    </ul>
}