@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterTemplate.cshtml";
}

<h1>@Umbraco.Field("siteTitle")</h1>

<div class="col-lg-12">
    <img src="~/Content/B4I4XD7WY4.jpg" />
</div>

<div class="col-lg-8">
    <p>
        <h2>Short description</h2>
        Ut porttitor sociis turpis porttitor in adipiscing sit. Aliquam odio et, ultrices, adipiscing arcu, dis lectus phasellus, nec, dapibus? Ac lectus massa ultrices sit vel habitasse et elementum porttitor et! Vut parturient elementum dis magna, et, purus mid, magna, velit, tortor elit odio porta porttitor, scelerisque? Egestas nascetur sit nisi egestas, sed, augue risus mattis? Amet et proin cursus platea placerat odio porta etiam placerat integer dignissim in, placerat! A, sit dictumst rhoncus sed integer nascetur platea augue sociis auctor pulvinar tempor lectus elit, tempor auctor integer porta quis rhoncus? Augue etiam enim. Parturient eu augue! Ultrices rhoncus ultrices, odio, aliquet hac, sed aliquam, ut augue odio arcu nunc ac elit sit, dolor pulvinar, magnis adipiscing risus diam, augue urna.
    </p>
</div>

<div class="col-lg-4">
    <h2>Latest Projects</h2>
    @Umbraco.RenderMacro("getFiveNewest")
</div>
